.table-container {
  margin-top: 1rem;

  @media (max-width: 710px) {
    & {
      width: 400px;
    }
  }

  @media (max-width: 450px) {
    & {
      width: 370px;
    }
  }
}

.grid {
  height: 400px;
  width: 600px;
  border: 1px solid #ccc;
  margin-top: 1rem;

  @media (max-width: 710px) {
    & {
      width: 400px;
    }
  }

  @media (max-width: 450px) {
    & {
      width: 370px;
    }
  }
}

.cells {
  font-size: 14px;

  @media (max-width: 710px) {
    & {
      font-size: 12px;
    }
  }
}